<nav class="navbar navbar-default navbar-fixed-top" >
    <div class="container-fluid" >
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" >
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">Food service</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#/">Home</a></li>
                <li><a href="#/dishes">Dishes</a></li>
                <li ng-if="isUserLoggedIn()"><a href="#/order">Order</a></li>


                <li ng-if="userProfile().Role == 'admin'"><a href="#/dishset">Menu</a></li>
                <li ng-if="userProfile().Role == 'admin'"><a href="#/orderlist">Orders List</a></li>
                <li ng-if="userProfile().Role == 'admin'"><a href="#/report">Report</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <ul class="nav navbar-nav navbar-right">
                    <li ng-if="userProfile().Role == 'admin'"><a href="#/reportdif">
                        <div style="background-color: cornflowerblue; padding: 1px 15px; color: beige" class="img-circle">{{unCheckedOrders}}</div></a></li>
                    <li ng-if="isUserLoggedIn()" class="userinfo"><a href="#/profile">{{userProfile().Name}}<i class="fa fa-user fa-fw"></i><label class="label label-danger" ng-if="userProfile().Role == 'admin'" >Admin</label></a></li>
                    <li ng-if="isUserLoggedIn()" class="userinfo">
                        <button style="height: 50px; padding: 0; border: none; background: none; margin-right: 25px; margin-left: 20px;" ng-click="logout()">Log Out <i class="glyphicon glyphicon-log-out"> </i> </button></li>
                    <li ng-if="!isUserLoggedIn()" class="userinfo"><a href="#/login" style="height: 50px; margin-right: 25px; margin-left: 10px">Login</a></li>
                </ul>

            </ul>
        </div>
    </div>
</nav>
