@{
    Layout = null;
}
<!DOCTYPE html>

<html ng-app="foodService">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food service</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/Vendors/modernizr")
    <script>
        
    </script>
</head>
<body>
    <top-bar id="header"></top-bar>
<div class="row-offcanvas row-offcanvas-left">
    @*<side-bar></side-bar>*@
    <div id="main">
        <div class="col-md-12">
            <div ng-view></div>
        </div>
    </div>
</div>
    <hr/>
    <footer class="text-center"> © 2016 FOOD SERVICE ALL RIGHTS RESERVED</footer>


@*<bottom-Bar></bottom-Bar>*@
    @Scripts.Render("~/bundles/Vendors")
    @Scripts.Render("~/bundles/spa")


</body>
</html>





