<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Menu on {{DateShow}}</h4>


        </div>
        <div class="panel-body">
            <h4 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 15px">Choose day to show menu </h4>
            <input type="date" id="dateInput" name="dateInput" ng-model="dateInput"/>
            <hr/>
            <div class="row">

                <!--here show list of menu on day-->
                <div class="col-md-5 pull-left"  style="margin-left: 60px;">
                    <h3>Dish menu</h3>
                    <div style="border: 1px solid #aaaaaa; height: 380px;   overflow:auto ;" ondrop="drop(event)" ondragover="allowDrop(event)" id="dishMenu" >
                        <div ng-repeat="dish in dishes.set1">
                            <div class="col-md-6" style="padding: 15px" id={{dish.ID}}>
                                <a ng-href="#/dishes/{{dish.ID}}">
                                    <img ng-src="/Images/Dish/{{dish.Name}}/{{dish.ImagePath}}" alt="{{dish.Name}}" width="160" height="160"/>
                                    <p class="textOnImage">{{dish.Name}}</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-5 pull-right" style="margin-right: 60px;">
                    <h3>All availible dishes</h3>

                    <!--<div class="input-group pull-left">
                        <input id="inputSearchDishes" type="search" ng-model="filterDishes" class="form-control" style="width: 70px" placeholder="Filter, search dishes..">
                        <div class="input-group-btn">
                            <button class="btn btn-primary" ng-click="search();"><i class="glyphicon glyphicon-search"></i></button>
                            <button class="btn btn-primary" ng-click="clearSearch();"><i class="glyphicon glyphicon-remove-sign"></i></button>
                        </div>
                    </div>
                    <br/><br/><br/>-->
                    <div style="border: 1px solid #aaaaaa;" id="allDishes" >
                        <div ng-repeat="dish in dishes.allDishes" id="{{dish.ID}}1"  draggable="true" ondragstart="drag(event)" >

                            <div class="col-md-6 img-circle" id={{dish.ID}}
                                 draggable="true" ondragstart="drag(event)" 
                                 onclick=""
                                 style="margin: 15px; background-image: url(/Images/Dish/{{dish.ImagePath}}); background-size: cover; width: 160px; height: 160px;"
                                 >
                                <p class="textOnImage">
                                    {{dish.Name}}
                                </p>
                                <!--<a ng-href="#/dishes/{{dish.ID}}">
                                    <img ng-src="/Images/Dish/{{dish.Name}}/{{dish.ImagePath}}" alt="{{dish.Name}}" width="160" height="160"/>
                                    <p class="textOnImage">{{dish.Name}}</p>
                                </a>-->
                            </div>

                        </div>
                    </div>

                </div>

                <div class="col-md-5 pull-right" style="margin-right: 60px;">
                    <button class="btn btn-primary pull-right" ng-click="clearSearch();">Edit menu <i class="glyphicon glyphicon-edit"></i></button>
                </div>


            </div>


        </div>

    </div>
</div>


<!--<button class="btn btn-danger cancelButton" onclick="removeDishFromMenu(this)"><i class="glyphicon glyphicon-remove"></i></button>-->