<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Menu on {{DateShow}}</h4>

        </div>
        <div class="panel-body">
            <h4 class="panel-title pull-left" style="padding-top: 7.5px; padding-right: 15px">Choose day to show menu </h4>
            <input type="date" id="dateInput" name="dateInput" ng-model="dateInput"/>
            <hr/>
            <div class="row">

                <!--here show list of menu on day-->
                <div class="col-md-5 pull-left"  style="margin-left: 60px;">
                    <h3>Dish menu</h3>
                    <div class="dishDnDZone" 

                         x-lvl-drop-target="true"
                         dishSet="{{dishes.set}}" x-on-drop="editDishSet(dishId)"
                         id="dishMenu">
                        

                        <div ng-repeat="dish in dishes.set">

                            <div class="col-md-6 img-circle" id="{{dish.ID}}"
                                 style="margin: 15px; background-image: url(/Images/Dish/{{dish.ImagePath}}); background-size: cover; width: 160px; height: 160px;">
                                <p class="textOnImage">
                                    {{dish.Name}}
                                </p>
                                <button class="btn btn-danger cancelButton" ondrop="event.preventDefault(); return false;" onclick="removeDishFromMenu(this)"><i class="glyphicon glyphicon-remove"></i></button>
                            </div>

                            <!--<div class="col-md-6" style="padding: 15px" id={{dish.ID}}>
                                <a ng-href="#/dishes/{{dish.ID}}">
                                    <img ng-src="/Images/Dish/{{dish.ImagePath}}" alt="{{dish.Name}}" width="160" height="160"/>
                                    <p class="textOnImage">{{dish.Name}}</p>
                                </a>
                            </div>-->
                        </div>
                    </div>
                </div>


                <div class="col-md-5 pull-right" style="margin-right: 60px;">
                    <h3>All availible dishes</h3>

                    <div class="input-group pull-left">
                            <input id="inputSearchDishes" type="search" ng-model="filterDishes" class="form-control" style="width: 70%" placeholder="Filter, search dishes..">
                            <button class="btn btn-primary" ng-click="filterClick();"><i class="glyphicon glyphicon-search"></i></button>
                            <button class="btn btn-primary" ng-click="clearSearch();"><i class="glyphicon glyphicon-remove-sign"></i></button>
                    </div>
                    <br/><br/><br/>
                    <div id="allDishes">
                        <div ng-repeat="dish in dishes.allDishes | unchosenDishes:dishes.set" id="{{dish.ID}}1"

                             x-lvl-draggable="true"
                             
                             >

                            <div class="col-md-6 img-circle" id={{dish.ID}}
                                 draggable="true" ondragstart="drag(event)"
                                 style="margin: 15px; background-image: url(/Images/Dish/{{dish.ImagePath}}); background-size: cover; width: 160px; height: 160px;">
                                <p class="textOnImage">
                                    {{dish.Name}}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="text-center" style="clear: both;">
                        <hr/>
                        <pagination page="{{page}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" page-route="pageRoute"></pagination>
                    </div>
                </div>
            </div>
            <br />
            <div class="col-md-5 pull-right" style="margin-right: 60px;">
                <button class="btn btn-lg btn-primary pull-right" ng-click="editDayMenu();">Edit menu <i class="glyphicon glyphicon-edit"></i></button>
            </div>

        </div>

    </div>
</div>

<script>
    function dishDetails(dishId) {
        window.location = '#/dishes/'+dishId;
    }
</script>


<!--<button class="btn btn-danger cancelButton" onclick="removeDishFromMenu(this)"><i class="glyphicon glyphicon-remove"></i></button>-->