<div class="row">
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="row">
                <!--here show list of menu on day-->
                <div class="col-md-5 col-sm-5 col-xs-5 pull-left" style="margin-left: 35px; margin-top: 20px">
                    <div class="row" style="margin-bottom: 10px">
                        <div class="col-md-7 col-xs-12 " style="margin-bottom: 3px">
                            <span style="font-size: 20px;">Menu on </span><input type="date" style="height: 25px; width: 135px; font-size: 14px;" ng-model="dateInput"/>
                        </div>
                        <div class="col-md-5 col-xs-12">
                            <div class="btn btn btn-default" style="height: 34px; width: 40px; margin-bottom: -1px; background-image: url(/Images/ProjectImages/csv-128.png); background-size: cover;">
                                <input type="file" on-read-file="showContent($fileContent)" class="btn btn btn-default" style="opacity: 0;"/>
                            </div>
                            <button class="btn btn-default ng-isolate-scope glyphicon glyphicon-download" ng-csv="dishes.set" filename="OrderListOn{{dateInput}}.csv" field-separator=","></button>
                            <button class="btn btn btn-primary glyphicon glyphicon-floppy-disk" ng-click="editDayMenu();"></button>
                            <button class="btn btn btn-danger glyphicon glyphicon-remove" ng-click="clearMenu();"></button>
                        </div>

                    </div>

                    <div class="dishDnDZone"
                         x-lvl-drop-target="true"
                         x-on-drop="editDishSet(someDish)"
                         prompt="true" data-text="Drag disg here"
                         id="dishMenu">
                        <div ng-if="dishes.set.length<1" class="text-center" style="font-size: 2em; color: gray; vertical-align: middle; line-height: 180px; text-align: center">Drag dish here</div>
                        <div ng-repeat="dish in dishes.set">
                            <div class="col-md-6 img-circle" id="{{dish.ID}}"
                                 style="margin: 15px; background-image: url(/Images/Dish/{{dish.ImagePath}}); background-size: cover; width: 160px; height: 160px;">
                                <p class="textOnImage" style="margin-left: -15px">
                                    {{dish.Name}}
                                </p>
                                <button class="btn btn-danger cancelButton glyphicon glyphicon-remove" ng-click="removeClickBtn($event)"></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-5 col-xs-5 pull-right" style="margin-right: 45px;">
                    <h3>All availible dishes</h3>
                    <div class="input-group pull-left">
                        <input id="inputSearchDishes" type="search" ng-model="filterDishes" class="form-control" style="width: 65%" placeholder="Filter, search dishes..">
                        <button class="btn btn-primary" ng-click="filterClick();"><i class="glyphicon glyphicon-search"></i></button>
                        <button class="btn btn-primary" ng-click="clearSearch();"><i class="glyphicon glyphicon-remove-sign"></i></button>
                    </div>
                    <br/><br/><br/>
                    <div id="allDishes">
                        <div ng-repeat="dish in dishes.allDishes | unchosenDishes:dishes.set" id="{{dish.ID}}1">
                            <div class="col-md-6 img-circle" id={{dish.ID}}
                                 x-lvl-draggable="true"
                                 style="margin: 15px; background-image: url(/Images/Dish/{{dish.ImagePath}}); background-size: cover; width: 160px; height: 160px;">
                                <p class="textOnImage" style="margin-left: -15px">
                                    {{dish.Name}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center" style="clear: both;">
                        <hr/>
                        <pagination page="{{page}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" page-route="pageRoute"></pagination>
                    </div>
                </div>
            </div>
            <br/>

        </div>
    </div>
</div>