<div class="jumbotron" style="background-image: url(/Images/ProjectImages/table.jpg); background-size: cover; width:100%">
    <div class="container text-center">
        <img class="media-object img-rounded  img-responsive" style="margin: 0 auto; height: 320px;" ng-src="/Images/Dish/{{dish.ImagePath[0]}}" alt="{{dish.Name}}" alt="{{dish.Name}}" class="pull-left" />
        <div style="color: black "><i><i class="fa fa-quote-left"></i>{{dish.Description}}<i class="fa fa-quote-right"></i></i></div>
        <br />
        <div ng-if="userProfile.Role == 'admin'" class="btn-group">
            <a ng-href="#/dishes/edit/{{dish.ID}}" class="btn btn-sm btn-default">Edit dish<i class="fa fa-pencil-square-o pull-right"></i></a>
        </div> <!-- end btn-group -->
    </div> <!-- end container -->
</div>
<div class="row">
    <div class="col-md-6" style="margin-bottom: 30px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h5>{{dish.Name}}</h5>
            </div>
            <div class="panel-body">
                <div class="media">
                    <a class="pull-right" ng-href="#/dishes/{{dish.ID}}" title="View {{dish.Name}} details">
                        <img class="media-object img-circle" height="135" ng-src="/Images/Dish/{{dish.ImagePath[0]}}" alt="{{dish.Name}}" alt="{{dish.Name}}" />
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">{{dish.Name}}</h4>
                        Weight: <label>{{dish.Weight}}</label><br />
                        Price: <label>{{dish.Price}}</label><br />
                        Ingridients: <label>{{dish.Ingridients}}</label><br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="panel-footer clearfix">
                <div ng-if="userProfile.Role == 'admin'"class="pull-right">
                    <a ng-href="#/dishes/edit/{{dish.ID}}" class="btn btn-default">Edit dish <i class="fa fa-pencil-square pull-right"></i></a>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading clearfix">
                <h5 class="pull-left">See also</h5>
            </div>
            <div class="panel-body">
                <div class="col-xs-6 col-sm-4 col-md-4 " ng-repeat="dish in seeAlso">
                    <div class="img-circle img-responsive text-center" id="{{dish.ID}}" ng-click="detailsRedirect('/dishes/'+dish.ID)"
                         style="margin: 15px; background-image: url(/Images/Dish/{{dish.ImagePath}}); background-size: cover; width: 160px; height: 160px;">
                        <p class="textOnImage">
                            {{dish.Name}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
